<h1>Images for <%= @project.title %></h1>

<% if @images.count > 0 %>
<% binding.pry %>
  <% @images.each do |image| %>
    <%= image_tag image.image %>
  <% end %>
<% else %>
  <p>No images currently exist for <%= @project.title %></p>
<% end %>

<h4>Upload images</h4>

<%= form_for [:my, @project, @image] do  |f| %>
  <%= f.file_field :image %>
  <p>
      <%= f.label :remote_image_url, "or image URL" %><br />
      <%= f.text_field :remote_image_url %>
  </p>
  <%= f.submit 'Upload Image', class: 'btn' %>
<% end %>

<%#= form_for :images do |f| %>
  <%#= f.file_field :image %>
  <%#= f.submit "Upload Image" %>
<%# end %>
