<h1><%= @project.title %></h1>

<% @images.each do |image| %>
  <%= image_tag image.image %>
<% end %>


<p class="lead"><%= @project.teaser %></p>

<p><%= @project.description %></p>

<hr />

<h3>Goal: $<%= @project.goal %></h3>
<div class="progress progress-success progress-striped">
  <div class="bar" style="width: 35%;">35% Funded</div>
</div>

<hr />



<%= link_to '<button type="button">Support This Project</button>'.html_safe, new_project_pledge_path(@project.id) %>


