<h1>Create a Project</h1>

<%= form_for @project, {:url => my_project_path(@project.id), :html => {:multipart => true}} do |f| %> 
  <p>
  <%= f.label :title %>
  <%= f.text_field :title %>
  </p>
  <p>
  <%= f.label :teaser %>
  <%= f.text_field :teaser %> 
  </p>
  <p>
  <%= f.label :description %>
  <%= f.text_area :description %>
  </p>
  <p>
  <%= f.label :goal %>
  <%= f.text_field :goal %>
  </p>
  <p>
  <h3> Upload Image <h3>
  <%= f.file_field :image %>
  </p>
  <p>
  <%= f.submit "Publish Project" %> 
  </p>
<% end %> 