<h1><%= @project.title %></h1>

<p class="lead"><%= @project.teaser %></p>

<p><%= @project.description %></p>

<% @project.images.each do |image| %>
<img src="<%= image.image %>"/>
<% end %>

<hr />
  <% total = 0 %>
  <% @project.pledges.each do |pledge| %>
  <% total += pledge.amount %>
  <% end %>
  <h3>Total Raised: $<%= total %></h3>
  <% completion = (total.to_f / @project.goal) * 100 %> </p> 
  <h3>Goal: $<%= @project.goal %></h3>
  <div class="progress progress-striped active">
    <div class="bar", font-style="red", style="width:<%= completion.ceil %>%;"><%= completion.ceil%>% Funded</div>
  </div>
<hr />

<%= link_to "Edit Project", edit_my_project_path(@project) %> | <%= link_to "Delete Project", my_project_path(@project), method: :delete, data: {confirm: "Are you sure you want to delete this project?"} %>
<hr />
<br>
<br>
<br>
