<!DOCTYPE html>
<html>
<head>
  <title>Crowdfunder</title><br><br><br>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">CrowdFunder</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="<%= 'active' if current_page? root_path %>">
            <%= link_to 'Home', :root %>
          </li>
          <li class="<%= 'active' if params[:controller] == 'projects'%>">
            <%= link_to 'Projects', :projects %>
          </li>

          <% if current_user %>
            <li>
              <%= link_to "Logout", logout_path %>
            </li>
            <li class="<%=  'active' if current_page? my_projects_path %>">
              <%= link_to "My Projects", my_projects_path %>
            </li>
          <% else %>
            <li class="<%= 'active' if current_page? signup_path %>"> 
              <%= link_to "Sign Up", signup_path %>
            </li>
            <li class="<%= 'active' if current_page? login_path %>">
              <%= link_to "Login", login_path %>
            </li>
          <% end %> 

        </ul>

      </div>

    </div>

  </div>
</div>
<div class="container">
  <div> 
    <% flash.each do |key, value| %>
    <div class="<%= key %>"><%= value %></div>
    <% end %>
  </div> 
<%= yield %>
</div>

</body>
</html>
